---
layout: base.njk
title: About
---
<div class="wrap article">
  <header class="article__head">
    <h1>About</h1>
  </header>
  <p class="lead">📷 Photo blog, 1️⃣1️⃣ Eleventy blog, 🦀 crustyimg blog </p>
  <p>Building this photoblog to publish some photos for fun, and use it as a vehicle for running crustyimg.
     I am also building an eleventy plugin for crustyimg, or at least want to try it out.
  </p>
</div>
