---
layout: base.njk
title: About
---
{# Stub — real copy to come. #}
<div class="wrap article">
  <header class="article__head">
    <h1>About</h1>
  </header>
  <p class="lead">📷 Photo blog, 1️⃣1️⃣ Eleventy blog, 🦀 crustyimg blog </p>
</div>
