---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author><name>{{ site.title }}</name></author>
  {%- for post in collections.posts %}
  {%- set absolute = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolute }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolute }}</id>
    {%- if post.data.dek %}
    <summary>{{ post.data.dek }}</summary>
    {%- endif %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolute) }}</content>
  </entry>
  {%- endfor %}
</feed>
